@page "/Management/Articles/Filter"
@attribute [Authorize(Roles = Roles.VIEW_ARTICLES)]
@inject ArticleService articleService
@inject NavigationManager navigationManager
@inject AuthService authService
@inject IJSRuntime jsRuntime

<h3>Article Filter</h3>
<hr />
<EditForm Model="Input">
    <FluentValidationValidator Validator="Validator" />
    <div class="col-4">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="article_number">Article Number:</label>
                <InputNumber id="article_number" @bind-Value="Filter.ArticleNumber" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label for="article_number_condition">Condition:</label>
                <InputSelect id="article_number_condition" @bind-Value="Filter.ArticleNumberCondition" class="form-control">
                    @for (int i = 0; i < FilterCondition.NumberCondition.Count; i++)
                    {
                        <option value="@i">@FilterCondition.NumberCondition[i]</option>
                    }
                </InputSelect>
            </div>
                @if (Filter.ArticleNumberCondition == 1)
                {
                    <div class="form-group col-md-4">
                        <label for="article_number_range"></label>
                        <InputNumber id="article_number_range" @bind-Value="Filter.ArticleNumberRange" class="form-control" />
                    </div>
                }
        </div>
        <div class="form-group col-md-10">
            <label for="name">Article Name:</label>
            <InputText id="name" @bind-Value="Input.Name" class="form-control" />
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="weight">Weight:</label>
                <InputNumber id="weight" @bind-Value="Filter.Weight" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label for="weight_condition">Condition:</label>
                <InputSelect id="weight_condition" @bind-Value="Filter.WeightCondition" class="form-control">
                    @for (int i = 0; i < FilterCondition.NumberCondition.Count; i++)
                    {
                        <option value="@i">@FilterCondition.NumberCondition[i]</option>
                    }
                </InputSelect>
            </div>
            @if (Filter.WeightCondition == 1)
            {
                <div class="form-group col-md-4">
                    <label for="weight_range"></label>
                    <InputNumber id="weight_range" @bind-Value="Filter.WeightRange" class="form-control" />
                </div>
            }
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="length">Length:</label>
                <InputNumber id="length" @bind-Value="Filter.Length" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label for="length_condition">Condition:</label>
                <InputSelect id="length_condition" @bind-Value="Filter.LengthCondition" class="form-control">
                    @for (int i = 0; i < FilterCondition.NumberCondition.Count; i++)
                    {
                        <option value="@i">@FilterCondition.NumberCondition[i]</option>
                    }
                </InputSelect>
            </div>
            @if (Filter.LengthCondition == 1)
            {
                <div class="form-group col-md-4">
                    <label for="length_range"></label>
                    <InputNumber id="length_range" @bind-Value="Filter.LengthRange" class="form-control" />
                </div>
            }
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="assortment_intake">Assortment Intake:</label>
                <InputDate id="assortment_intake" @bind-Value="Filter.AssortmentIntake" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label for="assortment_intake_condition">Condition:</label>
                <InputSelect id="assortment_intake_condition" @bind-Value="Filter.AssortmentIntakeCondition" class="form-control">
                    @for (int i = 0; i < FilterCondition.DateCondition.Count; i++)
                    {
                        <option value="@i">@FilterCondition.DateCondition[i]</option>
                    }
                </InputSelect>
            </div>
            @if (Filter.AssortmentIntakeCondition == 1)
            {
                <div class="form-group col-md-4">
                    <label for="assortment_intake_range"></label>
                    <InputDate id="assortment_intake_range" @bind-Value="Filter.AssortmentIntakeRange" class="form-control" />
                </div>
            }
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="purchase_price">Purchase Price:</label>
                <InputNumber id="purchase_price" @bind-Value="Filter.PurchasePrice" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label for="purchase_price_condition">Condition:</label>
                <InputSelect id="purchase_price_condition" @bind-Value="Filter.PurchasePriceCondition" class="form-control">
                    @for (int i = 0; i < FilterCondition.NumberCondition.Count; i++)
                    {
                        <option value="@i">@FilterCondition.NumberCondition[i]</option>
                    }
                </InputSelect>
            </div>
            @if (Filter.PurchasePriceCondition == 1)
            {
                <div class="form-group col-md-4">
                    <label for="purchase_price_range"></label>
                    <InputNumber id="purchase_price_range" @bind-Value="Filter.PurchasePriceRange" class="form-control" />
                </div>
            }
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="selling_price">Selling Price:</label>
                <InputNumber id="selling_price" @bind-Value="Filter.SellingPrice" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label for="selling_price_condition">Condition:</label>
                <InputSelect id="selling_price_condition" @bind-Value="Filter.SellingPriceCondition" class="form-control">
                    @for (int i = 0; i < FilterCondition.NumberCondition.Count; i++)
                    {
                        <option value="@i">@FilterCondition.NumberCondition[i]</option>
                    }
                </InputSelect>
            </div>
            @if (Filter.SellingPriceCondition == 1)
            {
                <div class="form-group col-md-4">
                    <label for="selling_price_range"></label>
                    <InputNumber id="selling_price_range" @bind-Value="Filter.SellingPriceRange" class="form-control" />
                </div>
            }
        </div>
        <div class="form-group">
            <label for="is_bundle">Bundle:</label>
            <InputCheckbox id="is_bundle" @bind-Value="Filter.IsBundle" class="form-checkbox" />
        </div>

        <div class="toolbar">
            <button type="submit" class="btn btn-primary" @onclick="StartFilter">Search</button>
        </div>

        <hr />
        <ValidationSummary />
    </div>
</EditForm>