@page "/Management/Customers/List"
@attribute [Authorize(Roles = Roles.VIEW_CUSTOMERS)]
@inherits ManagementBasePage<Customer, CustomerService>
<PageTitle>Customer List</PageTitle>
<h3>Customer List</h3>

<div class="col-lg-9 col-sm-12">

    <div class="card">
        <div class="card-content">
            <!-- Table with no outer spacing -->
            <div class="table-responsive">
                <table class="table mb-0 table-lg">
                    <thead>
                        <tr>
                            <th>Customer Number</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <Virtualize Items="FilterData" Context="customer">
                            <tr>
                                <td>@customer.CustomerNumber</td>
                                <td>@customer.FirstName</td>
                                <td>@customer.LastName</td>
                                <td class="text-right">
                                    <AuthorizeView Roles="@(Roles.DELETE_CUSTOMERS)">
                                        <Authorized>
                                            <span class="aktion-icon" role="button" @onclick="() => SelectedForDeletion = customer">
                                                <i class="bi bi-trash-fill"></i>
                                            </span>
                                        </Authorized>
                                    </AuthorizeView>
                                    <AuthorizeView Roles="@(Roles.EDIT_CUSTOMERS)">
                                        <Authorized>
                                            <span class="aktion-icon" role="button" @onclick="async () => await EditAsync(customer)">
                                                <i class="bi bi-pencil-square"></i>
                                            </span>
                                        </Authorized>
                                    </AuthorizeView>
                                </td>
                            </tr>
                        </Virtualize>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

@if (Input is not null)
{
    <Modal Title="@String.Format("Edit customer '{0}'", Input.CustomerNumber)"
       OnClosed="() => Input = null"
       ModalSize="ModalSize.LG"
       HideFooter="true">

        <EditForm Model="Input" @ref="_form">
            <FluentValidationValidator />
            <ValidationSummary />
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.CustomerNumber" class="form-control" id="customer-number" placeholder="Customer Number" />
                        <label for="customer-number">Customer Number</label>
                        <ValidationMessage For="() => Input.CustomerNumber" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.UserName" class="form-control" id="customer-username" placeholder="Username" />
                        <label for="customer-username">Username</label>
                        <ValidationMessage For="() => Input.UserName" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Salutation" class="form-control" id="salutation" placeholder="Salutation" />
                        <label for="salutation">Salutation</label>
                        <ValidationMessage For="() => Input.Salutation" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.FirstName" class="form-control" id="article-name" placeholder="Article Name" />
                        <label for="article-name">First Name</label>
                        <ValidationMessage For="() => Input.FirstName" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.LastName" class="form-control" id="article-name" placeholder="Article Name" />
                        <label for="article-name">Last Name</label>
                        <ValidationMessage For="() => Input.LastName" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Email" class="form-control" id="customer-email" placeholder="Email" />
                        <label for="customer-email">Email</label>
                        <ValidationMessage For="() => Input.Email" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Telefon" class="form-control" id="customer-telefon" placeholder="Telefon" />
                        <label for="customer-telefon">Telefon</label>
                        <ValidationMessage For="() => Input.Telefon" />
                    </div>
                    <hr />
                    <div class="mb-3">
                        <label>Delivery Address</label>
                        <div class="row">
                            <div class="form-floating col-md-6 mb-3">
                                <InputText @bind-Value="Input.DeliveryAddress.Street" class="form-control" id="customer-street" placeholder="Street" />
                                <label for="customer-street">Street</label>
                                <ValidationMessage For="() => Input.DeliveryAddress.Street" />
                            </div>
                            <div class="form-floating col-md-6 mb-3">
                                <InputNumber @bind-Value="Input.DeliveryAddress.HouseNumber" class="form-control" id="customer-housenumber" placeholder="House Number" />
                                <label for="customer-housenumber">House Number</label>
                                <ValidationMessage For="() => Input.DeliveryAddress.HouseNumber" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating col-md-6 mb-3">
                                <InputText @bind-Value="Input.DeliveryAddress.PostalCode" class="form-control" id="customer-postal-code" placeholder="Postal Code" />
                                <label for="customer-Postal-code">Postal Code</label>
                                <ValidationMessage For="() => Input.DeliveryAddress.PostalCode" />
                            </div>
                            <div class="form-floating col-md-6 mb-3">
                                <InputText @bind-Value="Input.DeliveryAddress.City" class="form-control" id="customer-city" placeholder="City" />
                                <label for="customer-city">City</label>
                                <ValidationMessage For="() => Input.DeliveryAddress.City" />
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Input.DeliveryAddress.State" class="form-control" id="customer-state" placeholder="State" />
                            <label for="customer-state">State</label>
                            <ValidationMessage For="() => Input.DeliveryAddress.State" />
                        </div>
                    </div>
                    <hr />
                    <div class="mb-3">
                        <label>Billing Address</label>
                        <div class="row">
                            <div class="form-floating col-md-6 mb-3">
                                <InputText @bind-Value="Input.BillingAddress.Street" class="form-control" id="billing-address-street" placeholder="Street" />
                                <label for="billing-address-street">Street</label>
                                <ValidationMessage For="() => Input.BillingAddress.Street" />
                            </div>
                            <div class="form-floating col-md-6 mb-3">
                                <InputNumber @bind-Value="Input.BillingAddress.HouseNumber" class="form-control" id="billing-address-housenumber" placeholder="House Number" />
                                <label for="billing-address-housenumber">House Number</label>
                                <ValidationMessage For="() => Input.BillingAddress.HouseNumber" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating col-md-6 mb-3">
                                <InputText @bind-Value="Input.BillingAddress.PostalCode" class="form-control" id="billing-address-postalcode" placeholder="Postal Code" />
                                <label for="billing-address-postalcode">Postal Code</label>
                                <ValidationMessage For="() => Input.BillingAddress.PostalCode" />
                            </div>
                            <div class="form-floating col-md-6 mb-3">
                                <InputText @bind-Value="Input.BillingAddress.City" class="form-control" id="billing-address-city" placeholder="City" />
                                <label for="billing-address-city">City</label>
                                <ValidationMessage For="() => Input.BillingAddress.City" />
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Input.BillingAddress.State" class="form-control" id="billing-address-state" placeholder="State" />
                            <label for="billing-address-state">State</label>
                            <ValidationMessage For="() => Input.BillingAddress.State" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-floating mb-3">
                        <InputDate @bind-Value="Input.RegistrationDate" class="form-control" id="article-name" placeholder="Article Name" />
                        <label for="article-name">Telefon</label>
                        <ValidationMessage For="() => Input.RegistrationDate" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputNumber @bind-Value="Input.CustomerStatus" class="form-control" id="customer-status" placeholder="Customer Status" />
                        <label for="customer-status">Customer Status</label>
                        <ValidationMessage For="() => Input.CustomerStatus" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputTextArea @bind-Value="Input.Comment" class="form-control" id="customer-comment" placeholder="Customer Comment" />
                        <label for="article-comment">Comment</label>
                        <ValidationMessage For="() => Input.Comment" />
                    </div>
                </div>
            </div>
        </EditForm>

        <div class="toolbar">
            <button type="button" class="btn btn-danger" @onclick="() => Input = null">Cancel</button>
            <button type="button" class="btn btn-success" @onclick="SaveAsync">Save</button>
        </div>
    </Modal>
}

@if (SelectedForDeletion is not null)
{
    <ConfirmModal Title="Delete"
              OnClosed="() => SelectedForDeletion = null"
              OnConfirmed="DeleteAsync">
        <p>@String.Format("Should the customer '{0}' really be deleted?", SelectedForDeletion.CustomerNumber)</p>
    </ConfirmModal>
}